* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}


.searchTerm {
  /* width: 150px; */
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0898e6;

}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  margin-left: -44px;
  width: 40px;
  height: 30px;
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


nav {
  /* margin-top: 80px; */
  padding-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 6.3rem;
  width: 100vw;
  background-color: #ededed;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  color: black;
}
/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 35px;
}
.logo i {
  color: #0898e6; /* Green color for the logo icon */
  margin-right: 0.5rem;
}
.logo span {
  color: #0898e6; /* Green color for the logo text */
}
/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  margin-left: auto;
  
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
  color: inherit;
}
.nav-links li a:hover {
  color: black;
  /* background-color: #0898e6; */
  
  height: 10vh;/* Green color on hover */
  
}
.nav-links li {
  position: relative;
}

/*Styling Buttons*/
.hire-button {
  background-color: transparent;
  border: 1.5px solid #000000; /* Green border for button */
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
  color: #000000;
}
.hire-button:hover {
  color: #131418;
  background-color: #0898e6; /* Green background on hover */
  border: 1.5px solid #0898e6;
  transition: all ease-in-out 350ms;
}
.resume-button {
  color: #fff;
  background-color: #0898e6; /* Green background for button */
  border: 1.5px solid #0898e6; /* Green border for button */
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.resume-button:hover {
  color: #000000;
  background-color: transparent;
  border: 1.5px solid #000000; /* Green border on hover */
  transition: all ease-in-out 350ms;
}



/*Styling for small screens*/



@media screen and (max-width: 800px) {
  nav {
      background-color: #ededed; /* Black background for small screens */
  }
  .logo i, .logo span {
      color: #63E6BE; /* White color for logo on small screens */
  }
  .nav-links {
      background: #000; /* Black background for the nav links container */
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li a {
      color: #fff; /* White color for links on small screens */
  }
  .nav-links li a:hover {
      color: #63E6BE; /* Green color on hover for links */
  }
  .hire-button {
      border: 1.5px solid #fff; /* White border for button on small screens */
      color: #fff; /* White text color for button on small screens */
  }
  .hire-button:hover {
      color: #000; /* Black text color for button on hover */
      background-color: #63E6BE;
      border: 1.5px solid #fff;
  }
  .resume-button {
      color: #fff; /* White text color for button on small screens */
      background-color: #63E6BE;
      border: 1.5px solid #63E6BE;
  }
  .resume-button:hover {
      color: #fff;
      background-color: transparent;
      border: 1.5px solid #fff; /* White border on hover */
  }
  .hamburger {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .hamburger div {
      background: #fff; /* White color for hamburger lines on small screens */
  }
  .nav-links li {
      opacity: 0;
  }
  .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7) {
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade {
      opacity: 1;
  }
}



body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 18%;
    transition: ease .40s;

}
header.sticky {
    /* background-image: url(nab\ bg\ 1.png) ;
     background-repeat: no-repeat;
    background-size: cover; /* Change this line */
    /* background-position: center;  */
    background-color:  #086bc1;
  }


.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
   
        text-decoration: none;
      
}

.register-btn {
    background: #0190ef;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    margin-right: -20%;
    
}


.navbar{
    display: flex;

}
.navbar a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    transition:  ease .40s;
}
.navbar a {
    text-decoration: none;
  }
.navbar a:hover{
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

#menu-icon{
    color: var(--text-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;

}


/* Add this to your css_gallery.css file */

.carousel {
  width: 100%; /* Adjust the width of the carousel */
  margin: 0 auto; /* Center the carousel */
}

.carousel-inner {
  height: 500px; /* Adjust the height of the carousel */
}

.carousel-inner img {
  object-fit: cover; /* Make sure the images cover the entire carousel */
  height: 100%; /* Make sure the images are full height */
  width: 100%; /* Make sure the images are full width */
}

.carousel-inner img {
    width: 100%;
    height: 100vh; /* or any other height you prefer */
    object-fit: cover;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }



  .gallery {
    display: grid;
    grid-gap: 10px;
  
    /* fill the page's width with columns, each having from about 200 to 400 px */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
    /* first row's height: 250px, second row's: 150px, third row's: 250px, and so on */
    grid-auto-rows: 250px 150px;
    
    /* from MDN: "fill in holes earlier in the grid, if smaller items come up later" */
    grid-auto-flow: dense;
  }
  
  .item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    /* for larger screens... */
    @media (min-width: 480px) {
      
      /* first item will have size 2x2 */
      &:first-child {
        grid-area: 1 / 1 / span 2 / span 2;
      }
  
      /* and every third item will have size 2x1 */
      &:nth-child(3n) {
        grid-column: span 2;
      }
   
    }
  }


  .upload-picture {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.upload-text {
    margin-bottom: 20px;
}

.upload-form {
    margin-top: 20px;
}

#upload-form {
    display: inline-block;
}

#picture {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
}

#picture:hover {
    background-color: #e2e2e2;
}

.upload-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:  #086bc1;
    color: #fff;
    cursor: pointer;
}

.upload-form input[type="submit"]:hover {
    background-color:  #086bc1ce;
}

.picbox{
  border: 2px solid black;
  margin-top: 5px;
  background-image: url(restaurent\ bg\ 1.jpg);
}


#contact{
  background:  #086bc1 ;
}

.main{
  display: flex;
  flex-wrap: wrap;
  
}

.footer{
  padding: 20px 0;
}

.list{
  width: 25%;
  padding: 0 20px;
  /* margin-left:0px; */
}

.list h4{
  font-size: 21px;
  color: var(--bg-color);
  margin-bottom: 40px;
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  

}

.list h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: var(--bg-color);
}
.list ul li::not(last-child){
  margin-bottom: 16px;
  
}

.list ul li a{
  color: #fffffb;
  font-size: 12px;
  padding: 10px;
  display: block;
  transition: .3s;
}

.list ul li a:hover{
  color: var(--bg-color);
  transform: translateX(14px);
}

.list .social a{
  height: 40px;
  width: 40px;
  background: var(--bg-color);
  color: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: .3s;
  
}

.end-text{
  margin-bottom: -50px;
  text-align: center;
  
}

.end-text p{
  color: var(--bg-color);
  font-size: 15px;
  letter-spacing: 2px;
}



/* 

@media screen and (max-width: 768px) {
  header {
      padding: 15px 5%;
  }

  .navbar {
      display: none;
  }

  #menu-icon {
      display: block;
  }

  .home-text h1 {
      font-size: 2rem;
  }

  .home-text p {
      font-size: 1rem;
  }

  .register-btn {
      margin-right: 0;
  }

  section {
      padding: 50px 5%;
  }

  .footer .list {
      width: 100%;
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .home-text h1 {
      font-size: 1.8rem;
  }

  .home-text p {
      font-size: 0.9rem;
  }

  .home-btn {
      padding: 10px 20px;
  }

  .text h2 {
      font-size: 1.8rem;
  }
} */